{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | About {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/about.css"%}"/>
{% endblock %}

{% block body_contents %}
  <div class="row about">
    <div class="col-md-5">
      <h1>About Us</h1>
      <img src="{% static "/assets/images/avskr_logo.png" %}" alt="" class="logo">
    </div>
    <div class="col-md-1" style="max-width: 10vh;">
      <div class="vl"></div>
    </div>
    <div class="col-md-6">
      <span class="quote">&#10077;</span>
      <p>
        {% if content %}
          {{ content.content | safe }}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
