{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Attractions {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/attractions.css" %}">
{% endblock %}

{% block body_contents %}
<div class="work">
  {% for attraction in all_attractions %}
    <div class="work_bg work-{{ forloop.counter }}"
          data-name="{{ attraction.name }}"
          data-logo="{{ attraction.logo.url }}"
          data-desc="{{ attraction.description|safe }}"
          data-venue="{{ attraction.venue }}"
          data-time="{{ attraction.date_time }}">
      <img data-tilt src="{{ attraction.logo.url }}" class="event_poster">
      <div class="att_name">{{ attraction.name }}</div>
    </div>
  {% endfor %}
</div>


<div data-transition="pop" class="event-description">
  <img src="{% static "assets/images/cross.png" %}" class="cross">
  <div class="event-poster">
    <img class="poster" src="">
  </div>
  <div class="event-info">
    <div class="event-name"></div>
    <div class="description"></div>
    <div class="info">
      <img src="{% static "assets/images/venue.png" %}" class="info-icon">
        <span class="event_venue"></span>
      <img src="{% static "assets/images/time.png" %}" class="info-icon">
      <span class="event_time"></span>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static "js/attractions.js" %}"></script>
  <script src="{% static "js/tilt.jquery.js" %}"></script>
{% endblock %}
