<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static "assets/images/avskr_logo.png" %}" />

  {# SEO #}
  <meta name="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta name="keywords" content="Aavishkar, Techfest, hackathon, nit, durgapur, fest, open source, maths, tech">

  <meta property="og:title" content="Aavishkar-The Tech Fest, NIT Durgapur">
  <meta property="og:url" content="http://avskr.in/">
  <meta property="og:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta property="og:image" content="http://avskr.in/static/images/avskr_logo.png">
  <meta property="og:type" content="website">


  <meta name="twitter:domain" content="avskr.in">

  <meta name="twitter:title" content="Aavishkar-The Tech Fest, NIT Durgapur">
  <meta name="twitter:url" content="http://avskr.in/">
  <meta name="twitter:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta name="twitter:image:src" content="http://avskr.in/static/images/avskr_logo.png">



  <meta itemprop="name" content="Aavishkar-The Tech Fest, NIT Durgapur">

  <meta itemprop="url" content="http://avskr.in/">
  <meta itemprop="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta itemprop="image" content="http://avskr.in/static/images/avskr_logo.png">
  {# END SEO #}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {% block extra_head %}{% endblock %}

</head>
<body>
  <div class="preloader"></div>
  {% block body_contents %}{% endblock %}
  <div id="player">
      <!-- <audio autoplay loop>
       <source src="{% static "assets/audio/bg.mp3" %}" type="audio/mp3">
                  If you're reading this, audio isn't supported.
      </audio> -->
  </div>
  <audio id="mySoundClip">
  	<source src="{% static "assets/audio/beep.mp3" %}"></source>
  	<source src="{% static "assets/audio/beep.ogg" %}"></source>
  	Your browser isn't invited for super fun audio time.
  </audio>
  <div id="info">
    <div class="header">
      <div class="row lappy-menu">
        <div class="col-md-4 offset-md-7 event_lappy">
          <div class="row">
            <div class="col-md-3">
              <p class="menus {% if request.path == "/" %}active{% endif %}" id="menu"><a href="/">Home</a></p>
              <p class="menus {% if "/about/" in request.path %}active{% endif %}" id="menu"><a href="/about/">About Us</a></p>
              <p class="menus {% if "/gallery/" in request.path %}active{% endif %}" id="menu"><a href="/gallery/">Gallery</a></p>
            </div>
            <div class="col-md-3">
              <p class="menus {% if "/events/" in request.path %}active{% endif %}" id="menu"><a href="/events/">Events</a></p>
              <p class="menus {% if "/schedule/" in request.path %}active{% endif %}" id="menu"><a href="/schedule/">Schedule</a></p>
              <p class="menus {% if "/workshop/" in request.path %}active{% endif %}" id="menu"><a href="/workshop/">Workshops</a></p>
            </div>
            <div class="col-md-3">
              <p class="menus {% if "/attractions/" in request.path %}active{% endif %}" id="menu"><a href="/attractions/">Attractions</a></p>
              <p class="menus {% if "/ignitia/" in request.path %}active{% endif %}" id="menu"><a href="/ignitia/">Ignitia</a></p>
              <p class="menus" id="menu"><a href="http://sciencex.avskr.in" target="_blank">ScienceX</a></p>
            </div>
            <div class="col-md-3">
              <p class="menus {% if "/teams/" in request.path %}active{% endif %}" id="menu"><a href="/teams/">Team</a></p>
              <p class="menus {% if "/webteam/" in request.path %}active{% endif %}" id="menu"><a href="/webteam/">Web Credits</a></p>
              <p class="menus {% if "/sponsors/" in request.path %}active{% endif %}" id="menu"><a href="/sponsors/">Past Sponsors</a></p>
            </div>
          </div>
        </div>
      </div>
       <!-- NAVBAR -->
      <nav role="navigation" style="display: none;" class="navBar">
        <div id="navToggle" style="position: absolute;left: 0%; top: 0%; margin-left: 2%; margin-top: 1.3%;">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="nav">
            <a href="/">
              <li>Home</li>
            </a>
            <a href="/about/">
              <li>About Us</li>
            </a>
            <a href="/events">
              <li>Events</li>
            </a>
            <a href="/schedule/">
              <li>Schedule</li>
            </a>
            <a href="/workshop/">
              <li>Workshops</li>
            </a>
            <a href="/attractions/">
              <li>Attractions</li>
            </a>
            <a href="/ignitia/">
              <li>Ignitia</li>
            </a>
            <a href="http://sciencex.avskr.in" target="_blank">
              <li>ScienceX</li>
            </a>
            <a href="/teams/">
              <li>Team</li>
            </a>
            <a href="/webteam/">
              <li>Web Credits</li>
            </a>
            <a href="/gallery/">
              <li>Gallery</li>
            </a>
            <a href="/sponsors/">
              <li>Past Sponsors</li>
            </a>
            <a href="/map/">
              <li>Map</li>
            </a>
          </ul>
        </div>
      </nav>

      <div class="logo-phone"><img src='{% static "assets/images/clg.png" %}' alt="" class="right-logo"></div>
      <!-- <div class="col-md-4"><img src="textures/clg.png" alt="" class="left-logo"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"><img src="textures/clg.png" alt="" class="right-logo"></div> -->
    </div>
    {% if request.path == '/' %}
      <div id="switch">
        <i class="left"></i>
      </div>
      <div class="instruction" id="toggle">
        <div>
          <h6>Instructions:</h6>
          <ul>
            <li>Use 'W' 'A' 'S' 'D' to move the character</li>
            <li>Click & Drag to move the Camera</li>
          </ul>
        </div>
      </div>


    {% endif %}
    <div class="footer">
      <!-- <img src="textures/down_arrow.gif" alt=""> -->
      <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/aavishkar.nitd/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/aavishkar_nitd/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCl42je3Zr5zTCpsHIj7xkbg/featured"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a target="_blank" href="/map"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <script
  	  src="https://code.jquery.com/jquery-3.3.1.min.js"
  	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  	  crossorigin="anonymous">
  </script>

  <script
    	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    	crossorigin="anonymous">
  </script>

  <script>

    /* preloader */
    $(window).on('load', function() {
      $('.preloader').fadeOut('slow');
    });

    var beepOne = $("#mySoundClip")[0];
      $("#switch")
    	.click(function() {
    		beepOne.play();
    	});

      $("#menu a")
      .each(function(i) {
        //if (i != 0) {
          $("#mySoundClip")
            .clone()
            .attr("id", "mySoundClip" + i)
            .appendTo($(this).parent());
        //}
        $(this).data("beeper", i);
      })
      .mouseenter(function() {
        $("#mySoundClip" + $(this).data("beeper"))[0].play();
      });
      $("#mySoundClip").attr("id", "beep-two0");
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  {% block extrajs %}

    {% endblock %}
</body>
</html>
