{% extends "festflow/base.html" %}
{% load static %}

{% block title %}Aavishkar 2018 - Events{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/events_group_list.css" %}"/>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body_contents %}  
    {% include "festflow/navBar.html" %}
    <div class="events_group">
        <div style="top:7em;width:100%;height:100%;text-align: center;">
            <h1>EVENTS</h1><br>
            {% for group in all_groups %}
              <a href="{{group.get_absolute_url}}">
                {% if group.logo %} 
                  <div class="blog-card">
                    <img class="img-responsive" src="{{group.logo.url}}">
                    <div class="title-content">
                      <h3 style="color: #000;">{{ group.group_name }}</h3>
                      <hr/>
                    </div>
                  </div>
                {% endif %}
              </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% comment %}

{% extends "festflow/base.html" %}
{% load static %}

{% block title %} EVENTS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/other.css" %}'/>

{% endblock %}

{% block body_contents %}

<div class="container">
    <div class="jumbotron">
        <h1 id='link'>Events</h1>
        <div class="dash"></div>
        <br />
        <br />
        <br />
        <div class='row'>
            {% for group in all_groups %}
            <div class='col-lg-4'>
                <a href="{{ group.get_absolute_url }}">
                    {% if group.logo %}
                    <img src="{{ group.logo.url }}" width='100%' alt= "{{ group.name }}" class='img-responsive' />
                    {% endif %}
                    <div class='group-text'>
                        <div class="subdash"></div>
                        <p>{{ group.group_name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% endcomment %}