{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/event_group.css"%}" />
{% endblock %}

{% block extrajs %}
  <script src="{% static "js/event_group.js" %}"></script>
{% endblock %}

{% block body_contents %}
{% include "festflow/navBar.html" %}
  <div id="main">
      <div class="container">
        <div class="carousel">
          {{group_events.count}}
          {% for event in group_events %}
            <a href="{{ event.get_absolute_url }}">
              <div class="item" style="transform: rotateY({% widthratio forloop.counter0 1 120 %}deg) translateZ(250px);background: url('{{event.logo.url}}'); background-size: cover;"></div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="next">Next</div>
      <div class="prev">Prev</div>
  </div>
{% endblock %}


{% comment %}

{% extends "festflow/base.html" %}
{% load static %}

{% block title %} EVENTS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/other.css" %}'/>

{% endblock %}

{% block body_contents %}

<div class="container">
    <div class="jumbotron">
        <h1 id='link'>Events</h1>
        <div class="dash"></div>
        <br />
        <br />
        <br />
        <div class='row'>
            {% for event in group_events %}
            <div class='col-lg-4'>
                <a href="{{ event.get_absolute_url }}">
                    {% if event.logo %}
                    <img src="{{ event.logo.url }}" width='100%' alt= "{{ event.name }}" class='img-responsive' />
                    {% endif %}
                    <div class='event-text'>
                        <div class="subdash"></div>
                        <p>{{ event.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% endcomment %}