{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Events {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/event.css"%}"/>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
{% endblock %}

{% block extrajs %}
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script src="{% static "js/event.js" %}"></script>
{% endblock %}

{% block body_contents %}

  <div class="bg">
    <div class="option-bar">
      {% for group in all_groups %}
        <div class="option">{{ group.group_name }}</div>
      {% endfor %}
    </div>
    <div class="event-category">
      {% for singlegroup in all_groups %}
        <div class="events tiles-grid">
          <div class="event" data-role="tile" data-size="large" data-effect="animate-slide-up">
            <div class="slide"><img src="{% static "assets/images/codegeass.jpg" %}"></div>
            <div class="slide"><img src="{{singlegroup.logo.url}}"></div>
            <span class="branding-bar">{{ singlegroup.group_name }}</span>
          </div>
          {% for event in all_events %}
            {% if event.group|slugify == singlegroup|slugify %}
              <div class="event" data-role="tile" data-size="medium" data-tilt
                                                  data-name="{{ event.name }}"
                                                  data-logo="{{ event.logo.url }}"
                                                  data-desc="{{ event.description|safe }}"
                                                  data-venue="{{ event.venue }}"
                                                  data-time="{{ event.date_time }}"
                                                  data-url="{{ event.get_absolute_url }}">
                                                  <span class="branding-bar">{{ event.name }}</span>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <img src="{% static "assets/images/nxt.png" %}" class="nxt"/>
  <div class="event-description">
      <img src="{% static "assets/images/cross.png" %}" class="cross">
      <div class="event-poster">
          <img class="poster" src="">
      </div>
      <div class="event-info">
          <div class="event-name"></div>
          <div class="description">
          </div>
          <a href="" class="link_url"><button class="expand">Expand</button></a>
          <div class="info">
              <img src="{% static "assets/images/venue.png" %}" class="info-icon">
              <span class="event_venue">Event Venue</span>
              <img src="{% static "assets/images/time.png" %}" class="info-icon">
              <span class="event_time">Event Time</span>
          </div>
      </div>
  </div>

{% endblock %}
