{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Gallery{% endblock %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}">

{% endblock %}

{% block body_contents %}
<div class="heading">

    <p>A walk back through the last edition of the fest captured as memories!</p>
  </div>
<div class="container-fluid">

	<div class="row">

			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
			<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>


<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>


<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>

<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>
<div class="col-lg-4 col-sm-12">
	<div class="thumbnail"><img src="{% static "assets/images/codegeass.jpg" %}"></div></div>

</div>
<br>
<br>
<br>
<br>
	</div>

{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
