{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Ignitia {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static "css/ignitia.css" %}">
{% endblock %}

{% block body_contents %}
  <div class="talks">
    {% for ignitia in all_ignitia %}
      <div class="event">
          <img  src="{{ ignitia.logo.url }}" class="photo">
          <div class="info">
            <div class="talker"><h2>{{ ignitia.name }}</h2></div>
            <div class="talker-info">{{ ignitia.description|safe }}</div>
            <div class="talk-info">
              <img src="{% static "assets/images/venue.png" %}" class="info-icon">
              <span>{{ ignitia.venue }}</span>
              <img src="{% static "assets/images/time.png" %}" class="info-icon">
              <span>{{ ignitia.date_time }}</span>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
