{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aavishkar 2.0</title>
    <style>
      body {
      	margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
      <link rel="shortcut icon" type="image/png" href="{% static "assets/images/avskr_logo.png" %}" />
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128274172-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128274172-1');
</script>

  </head>
  <body>
    <!-- <audio autoplay loop>
     <source src="{% static "assets/audio/bg.mp3" %}" type="audio/mp3"></source>
                If you're reading this, audio isn't supported.
    </audio> -->
    <audio src="{% static "/assets/audio/bg.mp3" %}" autoplay loop>
    	<p>If you are reading this, it is because your browser does not support the audio element.     </p>
    </audio>
    <iframe src="http://localhost:8000/home" style="border: 0; width: 100%; height: 100%">Your browser doesn't support iFrames.</iframe>
  </body>
</html>
