{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Schedule {% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/schedule.css" %}'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock %}
{% block body_contents %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "assets/images/Day-0.png"%}" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static "assets/images/Day-1.png"%}" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static "assets/images/Day-2.png"%}" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="{% static "assets/images/Day-3.png"%}" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



{% endblock %}

{% block extrajs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% endblock %}
