{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Schedule {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}">
{% endblock %}

{% block body_contents %}
<h1 style="margin-top: 25vh; text-align: center">To be Updated soon !!</h1><!--
 <div class="timeline-parcours">
    <div class="container-info">
       <div class="timeline-section-tl">
          <div class="parcours-box parc1 parcours-active">
             <div class="infobox date1">
                <h3>DAY 0</h3>

             </div>
             <div class="fleche-bloc"></div>
          </div>
       </div>
       <div class="timeline-section-tl">
          <div class="parcours-box parc2">
             <div class="infobox date2">
                <h3>Day 1</h3>

             </div>
             <div class="fleche-bloc"></div>
          </div>
       </div>
       <div class="timeline-section-tl">
          <div class="parcours-box parc3">
             <div class="infobox date3">
                <h3>Day 2</h3>

             </div>
             <div class="fleche-bloc"></div>
          </div>
       </div>
       <div class="timeline-section-tl">
          <div class="parcours-box parc4">
             <div class="infobox date4">
                <h3>Day 3</h3>

          </div>
       </div>
    </div>

    <div class="container-time-line">
       <div class="time-line-parcours">
          <div class="timeline-indicator">
             <p class="indicator-val"></p>
          </div>
       </div>
    </div>
    <div class="container-bulle">
       <div class="timeline-section-tl">
          <div class="tl-round round1"></div>
       </div>
       <div class="timeline-section-tl">
          <div class="tl-round round2"></div>
       </div>
       <div class="timeline-section-tl">
          <div class="tl-round round3"></div>
       </div>
       <div class="timeline-section-tl">
          <div class="tl-round round4"></div>
       </div>
    </div>

 </div>
</div>
<div class="contain">
    <img src="{% static "/assets/images/24hr.png" %}" class="c1 card">
    <img src="{% static "/assets/images/24hr.png" %}" class="c2 card">
    <img src="{% static "/assets/images/24hr.png" %}" class="c3 card">
    <img src="{% static "/assets/images/24hr.png" %}" class="c4 card">
  </div>
  <br>
  <br>
  <br>
  <br>
-->
{% endblock %}

{% block extrajs %}
<script src="{% static "js/schedule.js" %}"></script>
{% endblock %}
