{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2018 - Sponsors {% endblock %}

{% block extra_head %}
{# SEO #}
<meta name="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
<meta name="keywords" content="Aavishkar, Techfest, hackathon, nit, durgapur, fest, open source, maths, tech">

<meta property="og:title" content="Aavishkar 2018 - Sponsors">
<meta property="og:url" content="http://avskr.in/">
<meta property="og:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
<meta property="og:image" content="http://avskr.in/static/images/avskrLogo.jpg">
<meta property="og:type" content="website">


<meta name="twitter:domain" content="avskr.in">

<meta name="twitter:title" content="Aavishkar 2018 - Sponsors">
<meta name="twitter:url" content="http://avskr.in/">
<meta name="twitter:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
<meta name="twitter:image:src" content="http://avskr.in/static/images/avskrLogo.jpg">



<meta itemprop="name" content="Aavishkar 2018 - Sponsors">

<meta itemprop="url" content="http://avskr.in/">
<meta itemprop="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
<meta itemprop="image" content="http://avskr.in/static/images/avskrLogo.jpg">
{# END SEO #}

<!-- View CSS -->
<link rel="stylesheet" href="{% static "css/card.css" %}">

{% endblock %}

{% block body_contents %}
{% include "festflow/navBar.html" %}
<div class="container">
    <div class="titles">
        <h1>SPONSORS:</h1>
    </div>



    <div class="card" style="float:left; margin-left:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>1</b></h4>
            <p>Description</p>
        </div>
    </div>



    <div class="card" style="float:right; margin-right:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>2</b></h4>
            <p>Description</p>
        </div>
    </div>


    <div class="card" style="float:left; margin-left:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>3</b></h4>
            <p>Description</p>
        </div>
    </div>

    <div class="card" style="float:right; margin-right:40px; margin-bottom:30px; margin-top:30px ">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>4</b></h4>
            <p>Description</p>
        </div>
    </div>

</div>

{% endblock %}
