{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Sponsors {% endblock %}

{% block extra_head %}
	{# SEO #}
	<meta name="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
	<meta name="keywords" content="Aavishkar, Techfest, hackathon, nit, durgapur, fest, open source, maths, tech">

	<meta property="og:title" content="Aavishkar 2018 - Sponsors">
	<meta property="og:url" content="http://avskr.in/">
	<meta property="og:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
	<meta property="og:image" content="http://avskr.in/static/images/avskrLogo.jpg">
	<meta property="og:type" content="website">


	<meta name="twitter:domain" content="avskr.in">

	<meta name="twitter:title" content="Aavishkar 2018 - Sponsors">
	<meta name="twitter:url" content="http://avskr.in/">
	<meta name="twitter:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
	<meta name="twitter:image:src" content="http://avskr.in/static/images/avskrLogo.jpg">



	<meta itemprop="name" content="Aavishkar 2018 - Sponsors">

	<meta itemprop="url" content="http://avskr.in/">
	<meta itemprop="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
	<meta itemprop="image" content="http://avskr.in/static/images/avskrLogo.jpg">
	{# END SEO #}
	<link rel="stylesheet" type="text/css" href="{% static "css/sponsors.css"%}"/>
{% endblock %}


{% block body_contents %}
	<div class="container">

		<div style="font-size:5em;text-align:center">
			SPONSORS
		</div>
		<br></br>
		{% for group, sponsors in sponsors.items %}
				{% if group.group_name == "Title Sponsor" and group.pastorpresent == "present" or group.pastorpresent == "pastandpresent" %}
					<div style="font-size:2em;text-align:center">{{ group.group_name }}</div>
					<div class="row" >
						{% for sponsor in sponsors %}

							{% if sponsor.pastorpresent == "present" %}
								<div class="title">
									<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px; "></a>
								</div>
							{% endif %}

						{% endfor %}
					</div>
				{% endif %}
		{% endfor %}
		<br> </br>
		<br> </br>
		{% for group, sponsors in sponsors.items %}
			{% if group.group_name != "Title Sponsor" and group.pastorpresent == "present" or group.pastorpresent == "pastandpresent" %}
				<div style="font-size:2em;text-align:center">{{ group.group_name }}</div>
				<div class="row" >
					{% if sponsors.count == 1 %}
						{% for sponsor in sponsors %}
			        {% if forloop.counter0|divisibleby:3 %}<div class='row'>{% endif %}
								{% if sponsor.pastorpresent == "present" %}
									<div class="col-sm-8 col-md-offset-4">
										<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px;"></a>
									</div>
								{% endif %}
							{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
						{% endfor %}
					{% else %}
						{% for sponsor in sponsors %}
			        {% if forloop.counter0|divisibleby:3 %}<div class='row' style="width: 100%">{% endif %}

								{% if sponsor.pastorpresent == "present" %}
									<div class="col-md-4">
										<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px;"></a>
									</div>
								{% endif %}
							{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<br></br><br></br>
				<br></br><br></br>
				<br></br>
			{% endif %}
		{% endfor %}

		<div style="font-size:5em;text-align:center">
			PAST SPONSORS
		</div>
		<br></br>
		{% for group, sponsors in sponsors.items %}
				{% if group.group_name == "Title Sponsor" and group.pastorpresent == "past" or group.pastorpresent == "pastandpresent" %}
					<div style="font-size:2em;text-align:center">{{ group.group_name }}</div>
					<div class="row" >
						{% for sponsor in sponsors %}
							{% if sponsor.pastorpresent == "past" %}
								<div class="title">
									<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px; "></a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
		{% endfor %}
		<br> </br>
		<br> </br>
		{% for group, sponsors in sponsors.items %}
			{% if group.group_name != "Title Sponsor" and group.pastorpresent == "past" or group.pastorpresent == "pastandpresent" %}
				<div style="font-size:2em;text-align:center">{{ group.group_name }}</div>
				<div class="row" >
					{% if sponsors.count == 1 %}
						{% for sponsor in sponsors %}
			        {% if forloop.counter0|divisibleby:3 %}<div class='row'>{% endif %}
								{% if sponsor.pastorpresent == "past" %}
									<div class="col-sm-8 col-md-offset-4">
										<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px;"></a>
									</div>
								{% endif %}
							{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
						{% endfor %}
					{% else %}
						{% for sponsor in sponsors %}
			        {% if forloop.counter0|divisibleby:3 %}<div class='row' style="width: 100%">{% endif %}
								{% if sponsor.pastorpresent == "past" %}
									<div class="col-md-4">
										<a href="{{sponsor.url}}"><img src="{{sponsor.logo.url}}" style="width:300px; margin:30px;"></a>
									</div>
								{% endif %}
							{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
						{% endfor %}
					{% endif %}
				</div>
				<br></br><br></br>
				<br></br><br></br>
				<br></br>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
