{% extends "festflow/base.html" %}
{% load static %}

{% block title %} AAVISHKAR2.0 | WEB CREDITS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/webteam.css" %}'/>

{% endblock %}

{% block body_contents %}
<br><br><br><br><br><br><br><br><br><br>
<div class="heading">
  <p>Developers:</p>
</div>
  <div class="container-fluid">
  <div class="row d-flex wrap justify-content-center">
    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar a"></div>
       </div>
      <p>Bhola Nath Chowdhary</p>

  </div>

    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar b"></div>
       </div>
      <p>Rahul Otwani</p>

    </div>
    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar c"></div>
       </div>
      <p>Chandan Choudhury</p>

    </div>
    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar d"></div>
       </div>
      <p>Arpan Chatterjee</p>

    </div>
    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar e"></div>
       </div>
      <p>Manisha Mohnani</p>

    </div>
  </div>
</div>
<br>
<br>
<div class="heading">
  <p>Designers:</p>
</div>
  <div class="container-fluid">
  <div class="row d-flex wrap justify-content-center">
    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar f"></div>
       </div>
      <p>Mayank Tayal</p>

  </div>


    <div class="card col-lg-2 col-md-3 col-sm-12 my-card">
       <div class="card_Banner">
          <div class="card_Avatar g"></div>
       </div>
      <p>Debleena Sen</p>

    </div>
  </div>
</div>
<br>
<br>
<div class="heading">
  <p>fest-cms : Bishakh Ghosh <a style="color:white;z-index:50;" href="https://github.com/ghoshbishakh">(https://github.com/ghoshbishakh)<a><p>
</div>
<br>
<br>
<div class="heading">
  <p>Octaminator 3D model : raymoohawk<p>
</div>
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}
