{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar 2.0 | Workshops {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/workshop.css" %}">
{% endblock %}

{% block body_contents %}
<div class="work">
  {% for workshop in all_workshops %}
    <div class="work-{{ forloop.counter }}"
          data-name="{{ workshop.name }}"
          data-logo="{{ workshop.logo.url }}"
          data-desc="{{ workshop.description|safe }}"
          data-venue="{{ workshop.venue }}"
          data-time="{{ workshop.date_time }}">
      <img data-tilt src="{{ workshop.logo.url }}" class="event_poster">
    </div>
  {% endfor %}
</div>

<div data-transition="pop" class="event-description">
  <img src="{% static "assets/images/cross.png" %}" class="cross">
  <div class="event-poster">
    <img class="poster" src="">
  </div>
  <div class="event-info">
    <div class="event-name"></div>
    <div class="description"></div>
    <div class="info">
      <img src="{% static "assets/images/venue.png" %}" class="info-icon">
        <span class="event_venue"></span>
      <img src="{% static "assets/images/time.png" %}" class="info-icon">
      <span class="event_time"></span>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static "js/workshop.js" %}"></script>
  <script src="{% static "js/tilt.jquery.js" %}"></script>
{% endblock %}
