/* body{
  background-color:black;
  overflow-y:hidden;
  background: url('../images/wood.png');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;

  padding: 0;
  height:97vh;
  width:98%;
  margin-left:1vh;
} */

.event_poster{
  height:100%;
  width:100%;
}
.work{
  position:absolute;
  top:7%;
  left:3%;
  width:18%;
  height:90%;
  /* border:1px solid white;*/
}

.work-1{
  position:absolute;
  top:2%;
  left:15%;
  width:70%;
  height:18%;
  /* border:1px solid white;*/
}
.work-2{
  position:absolute;
  top:27%;
  left:15%;
  width:70%;
  height:18%;
  /* border:1px solid white;*/
}
.work-3{
  position:absolute;
  top:52%;
  left:15%;
  width:70%;
  height:18%;
  /* border:1px solid white; */
}
.work-4{
  position:absolute;
  top:77%;
  left:15%;
  width:70%;
  height:18%;
/*  border:1px solid white; */
}



.event-description {
     position: fixed;
     top: 15vh;
     left: 30vw;
     height: 65vh;
     width: 67vw;
     opacity: 1;
    transition: all .2s ease-in-out;
     background-color: rgba(32, 80, 92, 0.6);
     border: 1px solid rgba(200, 200, 200, 0.8);


 }

 .event-poster {
     position: absolute;
     height: 80%;0
     margin-top: 5%;
     margin-bottom: 20%;
     width: 35%;
     padding: 2%;
     border-right: 1px solid white;

 }

 .event-info {
     position: absolute;
     left: 35%;
     height: 100%;
     width: 65%;
 }

 .event-name {
     position: absolute;
     height: 5%;
     top: 10%;
     margin-left: 10%;
     width: 80%;
     border-bottom: 1px solid white;
     text-align: center;
     color: whitesmoke;
 }

 .description {
     position: absolute;
     top: 20%;
     left: 0%;

    width:85%;
     text-align: center;
     color: whitesmoke;
     padding: 9%;
 }

 .info {
     position: absolute;
     bottom: 0%;
     width: 80%;
     height: 10%;
     margin-left: 10%;
     border-top: 1px solid white;
     color: white;
     padding: 2%;
 }

 .cross {
     height: 20px;
     width: 20px;
     position: absolute;
     top: 1%;
     right: 1%;
     z-index: 4;
 }

 .poster {
     max-width: 100%;
     max-height: 100%;
     margin-top: 10%;

 }

 .info-icon {
     width: 20px;
     height: 20px;
     margin-left: 12%;
 }
@media screen and (min-width:1000px)
{
  .poster{
    margin-left:5%;
  }
}



@media screen and (max-width:600px)
{
  body{
    width:98%;
    display:block;
    margin:0px;
    overflow-y: hidden;
  }
  .work{
    height:100%;
    width:100%;
  }
  .work-1{
    position:absolute;
    top:5%;
    left:1%;
    width:45%;
    height:35%;
    border:1px solid white;
  }
  .work-2{
    position:absolute;
    top:50%;
    left:1%;
    width:45%;
    height:35%;
    border:1px solid white;
  }
  .work-3{
    position:absolute;
    top:5%;
    left:49%;
    width:45%;
    height:35%;
    border:1px solid white;
  }
  .work-4{
    position:absolute;
    top:50%;
    left:49%;
    width:45%;
    height:35%;
    border:1px solid white;
  }



  .event-description {
      overflow-y: scroll;

      position:absolute;
      top:7%;
      left:4%;
      width:92%;
      height:88%;
  }

  .event-poster {
      position: absolute;
      top: 1%;
      height: 35%;
      width: 98%;
      display:block;
      margin:auto;
      border: none;
    /*  border-bottom:1px solid white; */
  }

  .event-name {
      position: absolute;
      width: 100%;
      height: 10%;
      margin-left: 1%;
      padding-bottom: 3%;
      top:5%;
      border-bottom: 1px solid white;
      text-align: center;
      font-size: 3vh;
  }

  .description {
      position: absolute;

      left: 5%;
      width: 90%;
      height: 55%;
      text-align: center;
      margin-bottom: 2%;
      margin-top:2%;
      padding-top: 0%;
      padding-left:1%;
      overflow:scroll;
      margin-left: 0%;
      font-size: 02vh;
  }

  .info {
      width: 100%;
      height:7%;
      border-top: 1px solid white;
      text-align: left;
      margin:0px;
      padding:1px;
      display:block;
      top:98%;
  }

  .event-info {
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%;
      height: 45%;


  }

  .poster {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .footer {
		display: none;
	}
}
