.events {
    width: 90%;
    height: 70vh;
    background-color: rgb(255, 248, 220);
    margin-top: 7vh;
    margin-right: 10px;
    opacity: 0;
}
.event-category > .flickity-viewport {
    overflow-x: hidden;
    overflow-y: auto;
}

.option-bar {
    margin-top: 10vh;
    height: 4vh;
    border-style: solid;
    border-color: white !important;
    background-image: linear-gradient(to right, rgba(0,0,0,1) 1%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    perspective-origin: center;
    overflow: hidden;
}

.event-category {
    height: 80vh;
}

.event_lappy {
  margin-top: 1.1vh !important;
  line-height: 2.2vh;
}

.bg {
  margin-top: 10vh !important;
}

@media screen and ( max-width: 576px) {
    .option {
        width: 100%;
        background-color: rgba(0,0,0,0);
    }

    .option:hover {
        transform: perspective(500px) translateZ(100px);
        transition: all .2s ease-in-out;
    }
    .footer {
      display: none;
    }
}

.option {
    padding-right: 4%;
    padding-left: 3%;
    margin-right: 1%;
    height: inherit;
    color: whitesmoke;
    transition: opacity 1s ease-in-out;
    vertical-align: middle;
}

.option.is-selected {
    background-color: rgb(219, 206, 206, 0.4);
}

.events.is-selected {
    opacity: 1;
    background-color: rgba(255, 248, 220, 0);
    transition: opacity 1s ease-in-out;
}

.bg {
    position: fixed;
    top: 0;
    width: 95vw;
    height: 100vh;
    margin-left: 5%;
    margin-top: 2%;
}

body {
    background-image: url('/static/assets/images/Avskr_bg.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.background {
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.option:hover {
    transform: perspective(500px) translateZ(100px);
    transition: all .2s ease-in-out;
}

.event-description {
    position: fixed;
    top: 15vh;
    left: 10vw;
    height: 70vh;
    width: 80vw;
    opacity: 0;
    z-index: -3;
    transition: all .2s ease-in-out;
    background-color: rgba(32, 80, 92, 0.6);
    border: 1px solid rgba(200, 200, 200, 0.8);
}

.event-poster {
    position: absolute;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
    padding: 2%;
    border-right: 1px solid white;
}

.event-info {
    position: absolute;
    left: 35%;
    height: 100%;
    width: 65%;
}

.event-name {
    position: absolute;
    height: 5%;
    top: 10%;
    margin-left: 10%;
    width: 80%;
    /* border-bottom: 1px solid white; */
    /* text-align: center; */
    color: whitesmoke;
    font-size: 8vh;
}

.description {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 60%;
    /* text-align: center; */
    font-size: 2.2vh;
    color: whitesmoke;
    padding: 10%;
}

.expand {
    position: absolute;
    top: 55vh;
    left: 5vw;
    font-size: 2.6vh;
    color: whitesmoke;
    margin: 10%;
    background-color: #555555;
    cursor: pointer;
}

.info {
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    border-top: 1px solid white;
    color: white;
    padding: 2%;
}

.cross {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 4;
    cursor: pointer;
}

.poster {
    max-width: 100%;
    max-height: 100%;
}

.info-icon {
    width: 20px;
    height: 20px;
    margin-left: 12%;
}

@media screen and ( max-width: 976px) {
    .event-description {
      overflow-y: scroll;
      overflow-x: hidden;
      position:absolute;
      top:15vh;
      left:4%;
      width:92%;
      height:82vh;
    }

    .event-poster {
        position: absolute;
        top: 1%;
        height: 40%;
        width: 90%;
        display: block;
        text-align: center;
        border: none;
        border-bottom:1px solid white;
    }

    .event-name {
      position: absolute;
      width: 100%;
      height: 10%;
      margin-left: 1%;
      padding-bottom: 5vh;
      top:5%;
      border-bottom: 1px solid white;
      text-align: center;
      font-size: 3vh;
    }

    .description {
      position: absolute;
      left: 5%;
      width: 90%;
      height: 60%;
      text-align: center;
      margin-bottom: 2%;
      margin-top:2%;
      padding-top: 0%;
      padding-left:1%;
      overflow:scroll;
      margin-left: 0%;
      font-size: 2.2vh;
    }

    .info {
        width: 80%;
        height:7%;
        border-top: 1px solid white;
        text-align: center;
    }

    .event-info {
        position: absolute;
        top: 45%;
        left: 0%;
        width: 100%;
        min-height: 54%;
    }

    .poster {
        margin: 0;
        margin-left: 10%;
    }

    .expand {
        position: absolute !important;
        top: 55vh;
        left: 5vw;
        font-size: 2.6vh !important;
        color: whitesmoke !important;
        margin: 10% !important;
        background-color: #555555 !important;
        cursor: pointer !important;
    }
}

@media screen and ( max-width: 600px) {
  .expand {
    top: 70vh;
  }
}
