.events {
    width: 90%;
    height: 70vh;
    background-color: rgb(255, 248, 220);
    margin-top: 7vh;
    margin-right: 10px;
    opacity: 0;
}
.event-category > .flickity-viewport {
    overflow-x: hidden;
    overflow-y: auto;
}

.option-bar {
    margin-top: 10vh;
    height: 4vh;
    border-style: solid;
    background-image: linear-gradient(to right, rgba(0,0,0,1) 1%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    perspective-origin: center;
    overflow: hidden;
}

.event-category {
    height: 80vh;
}

@media screen and ( max-width: 576px) {
    .option {
        width: 100%;
        background-color: rgba(0,0,0,0);
    }

    .option:hover {
        transform: perspective(500px) translateZ(100px);
        transition: all .2s ease-in-out;
    }
}

.option {
    padding-right: 4%;
    padding-left: 3%;
    margin-right: 1%;
    height: inherit;
    color: whitesmoke;
    transition: opacity 1s ease-in-out;
    vertical-align: middle;
}

.option.is-selected {
    background-color: rgb(219, 206, 206, 0.4);
}

.events.is-selected {
    opacity: 1;
    background-color: rgba(255, 248, 220, 0);
    transition: opacity 1s ease-in-out;
}

.bg {
    position: fixed;
    top: 0;
    width: 95vw;
    height: 100vh;
    margin-left: 5%;
    margin-top: 2%;
}

body {
    margin: 0;
}

.background {
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.option:hover {
    transform: perspective(500px) translateZ(100px);
    transition: all .2s ease-in-out;
}

.event-description {
    position: fixed;
    top: 5vh;
    left: 10vw;
    height: 90vh;
    width: 80vw;
    opacity: 0;
    z-index: -3;
    transition: all .2s ease-in-out;
    background-color: rgba(32, 80, 92, 0.6);
    border: 1px solid rgba(200, 200, 200, 0.8);
}

.event-poster {
    position: absolute;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
    padding: 2%;
    border-right: 1px solid white;
}

.event-info {
    position: absolute;
    left: 35%;
    height: 100%;
    width: 65%;
}

.event-name {
    position: absolute;
    height: 5%;
    top: 10%;
    margin-left: 10%;
    width: 80%;
    border-bottom: 1px solid white;
    text-align: center;
    color: whitesmoke;
}

.description {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 60%;
    text-align: center;
    color: whitesmoke;
    padding: 10%;
}

.info {
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    border-top: 1px solid white;
    color: white;
    padding: 2%;
}

.cross {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 4;
}

.poster {
    max-width: 100%;
    max-height: 100%;
}

.info-icon {
    width: 20px;
    height: 20px;
    margin-left: 12%;
}

@media screen and ( max-width: 976px) {
    .event-description {
        overflow: scroll;
    }

    .event-poster {
        position: absolute;
        top: 1%;
        height: 40%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border: none;
        border-bottom:1px solid white;
    }

    .event-name {
        position: absolute;
        width: 70%;
        height: 8%;
        margin-left: 15%;
        top: 0%;
        border-bottom: 1px solid white;
        text-align: center;
    }

    .description {
        position: absolute;
        left: 0%;
        width: 100%;
        height: 40%;
        text-align: center;
        margin-bottom: 2%;
        padding-top: 0%;
    }

    .info {
        width: 80%;
        height:7%;
        border-top: 1px solid white;
        text-align: center;
    }

    .event-info {
        position: absolute;
        top: 45%;
        left: 0%;
        width: 100%;
        min-height: 54%;
    }

    .poster {
        margin: 0;
        margin-left: 10%;
    }
}


.header{
  width:100vw;
  height:15vh;
  position: absolute;
  left:0%;
  top:0%;
}
.footer{
  width:100vw;
  height:35vh;
  position:absolute;
  bottom:0%;
  left:0%;
  z-index:5;
}
