
body{
	background-color: black;
		overflow-y: scroll;
}

.heading{
	justify-content: center;

	background-color: black;
	color: silver;
	position:absolute;
	top:20%;
	width:100%;
	text-align: center;

}
.heading p
{
	text-align: center;
	width:100%;
	text-shadow: 1px 1px 1px silver;
	font-size: 4vh;
}
.container-fluid{
	top:35%;
	position: absolute;
	width:80%;
	left:10%;
	height: 400vh;


}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.thumbnail img{
	border:2px solid silver;
	border-radius: 20px;
	background-color: black;

}

.thumbnail{
	border: none;
	background-color: black;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-bottom: 5vh;
	height:90%;
	width:90%;
	opacity: 0.9;

}


.thumbnail img:hover{
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
	border: none;

}
