.event {
    position: relative;
    height: 100%;
    width: 25%;
    margin-left: 6%;
    overflow: hidden;
    border: 4px solid rgba(222, 222, 222, .4);
    transition: all .3s ease-in-out;
    float: left;
}

.event:hover .photo {
    transform: scale(1.1);
}

.event:hover {
    border: 8px solid rgba(222, 222, 222, .4);
}

.event:hover .info {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.photo {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.talks {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 15%;
}

.info {
    position: absolute;
    top: 0%;
    height: 1px;
    width: 1px;
    background-color: rgba(122, 42, 226, 0.4);
    opacity: 0;
    transition: all .3s ease-in-out;
    color: whitesmoke;

}

.info-icon {
    width: 20px;
    height: 20px;
    margin-left: 12%;
}

.talker {
    text-align: center;
    border-bottom: 2px solid white;
}

.talker-info {
    padding: 9%;
}

.talk-info {
    position: absolute;
    bottom: 0;
    border-top: 2px solid white;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and  (max-width: 1094px) {
    .event {
        width: 80%;
        margin-bottom: 10%;
    }

    /* body {
        overflow:scroll;
        overflow-x: hidden;
    } */

}
@media screen and  (max-width: 1000px) {
.talks{
  height:70%;
  overflow:scroll;

    }
}
