body {

background-color:black;
height:100vh;
width:100vw;
overflow-y: scroll;

}


/* ****** */
.tl-round:hover{
  transform:scale(1.5);
  border:1px solid silver;
}

.tl-round::selection{
  height:5vh;
  width:5vh;
  border:1px solid silver;
}
.timeline-parcours {

   width:960px;
   height:auto;
   min-height:100px;
   margin:100px auto;
}
.container-info  {
   width:960px;
   margin:0 auto;
   height:auto;
   padding-top: 5vh;

}
.timeline-section-tl {
   width:236px;
   height:auto;
   min-height:1.2vh;
   display:inline-block;
}
.infobox {
   width:226px;
   height:auto;
   min-height:10px;
   background-color:silver;
   padding:5px;
   text-align: center;
   border-radius:20px;
   display:inline-block;
   margin:0px 1px;
}

.parcours-box {
   opacity:0;
   z-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

.container-time-line {
   width:960px;
   margin:auto;

}
.time-line-parcours {
   width:730px;
   height:10px;
   background-color:silver;
   margin:auto;
}
.timeline-indicator {
   width:0px;
   height:1vh;
   background-color:rgba(0,0,250,0.8);
   -webkit-transition: all 100ms ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.tl-round {
   width:3vh;
   height:3vh;
   border-radius:50%;
   background-color:blue;
   margin:auto;
    -webkit-transition: all 100ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.container-bulle {
   margin-top:-15px;
}
/* animation classe */

.anim-phase-1 {
   width:240px;
   -webkit-transition: all 100ms ease;
-moz-transition: all 100ms ease;
-ms-transition: all 100ms ease;
-o-transition: all 100ms ease;
transition: all 100ms ease;
}
.anim-phase-2 {
   width:475px;
   -webkit-transition: all 100ms ease;
-moz-transition: all 100ms ease;
-ms-transition: all 100ms ease;
-o-transition: all 100ms ease;
transition: all 100ms ease;
}
.anim-phase-3 {
   width:720px;
   -webkit-transition: all 100ms ease;
-moz-transition: all 100ms ease;
-ms-transition: all 100ms ease;
-o-transition: all 100ms ease;
transition: all 100ms ease;
}
.parcours-active {
   opacity:1;
   z-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}


.contain {
  position: absolute;
  left:20%;
  width:60%;
  height:40;
}
.card{
  margin:0;
  height:60%;
  width:100%;

}
@media only screen and (max-width:600px){

  .container-bulle {
     margin-top:-24px;
  }
  .contain {
    position: absolute;
    left:2%;
    width:90%;
  }
  .card{
    margin:0.1vh;

    height:80%;
    width:90%;
    margin: 0;

  }

}
