body{
  background-image: url('/static/assets/images/bg.gif');
  background-color: black;
  background-attachment: fixed;
}
.description a {
  color: #fff;
}
.event_poster{
  height:100%;
  width:100%;
}
.work{
  position:absolute;
  top:10%;
  left:3%;
  width:22%;
  height:80%;
  z-index: 0;
}

.work-1{
  position:absolute;
  top:5%;
  left:15%;
  width:70%;
  height:27%;
  z-index: 0;
  cursor: pointer;
}
.work-2{
  position:absolute;
  top:37%;
  left:15%;
  width:70%;
  height:27%;
  z-index: 0;
  cursor: pointer;
}
.work-3{
  position:absolute;
  top:69%;
  left:15%;
  width:70%;
  height:27%;
  z-index: 0;
  cursor: pointer;
}

.event-description {
     position: fixed;
     top: 15vh;
     left: 30vw;
     height: 70vh;
     width: 67vw;
     opacity: 1;
     transition: all .2s ease-in-out;
     background-color: rgba(32, 80, 92, 0.6);
     border: 1px solid rgba(200, 200, 200, 0.8);
     z-index: 5;

 }

 .event-poster {
     position: absolute;
     height: 80%;0
     margin-top: 5%;
     margin-bottom: 20%;
     width: 35%;
     padding: 2%;
     border-right: 1px solid white;

 }

 .event-info {
     position: absolute;
     left: 35%;
     height: 100%;
     width: 65%;
 }

 .event-name {
     position: absolute;
     height: 5%;
     top: 5%;
     margin-left: 10%;
     width: 80%;
     /* border-bottom: 1px solid white; */
     /* text-align: center; */
     color: whitesmoke;
     font-size: 8vh;
 }

 .description {
     position: absolute;
     top: 20%;
     left: 0%;
     font-size: 2.2vh;
     width:85%;
     /* text-align: center; */
     color: whitesmoke;
     padding: 9%;
 }

 .info {
     position: absolute;
     bottom: 0%;
     width: 80%;
     height: 10%;
     margin-left: 10%;
     border-top: 1px solid white;
     color: white;
     padding: 2%;
 }

 .cross {
     height: 20px;
     width: 20px;
     position: absolute;
     top: 1%;
     right: 1%;
     z-index: 4;
     cursor: pointer;
     display: none;
 }

 .poster {
     max-width: 100%;
     max-height: 100%;
     margin-top: 10%;

 }

 .info-icon {
     width: 20px;
     height: 20px;
     margin-left: 12%;
 }
@media screen and (min-width:1000px)
{
  .poster{
    margin-left:5%;
  }
  .work-1{
    width:70%;
  }
}



@media screen and (max-width:600px)
{
  body{
    width:98%;
    display:block;
    margin:0px;
    overflow-y: hidden;
  }
  .work{
    height:100%;
    width:100%;
  }
  .work-1{
    position:absolute;
    top:10%;
    left:1%;
    width:45%;
    height:30%;

  }
  .work-2{
    position:absolute;
    top:10%;
    left:49%;
    width:45%;
    height:30%;

  }

  .work-3{
    position:absolute;
    top:50%;
    left:27.5%;
    width:45%;
    height:30%;

  }

  .event-description {
      overflow-y: scroll;
      overflow-x: hidden;
      position:absolute;
      top:15vh;
      left:4%;
      width:92%;
      height:82vh;
  }

  .event-poster {
      position: absolute;
      top: 1%;
      height: 35%;
      width: 98%;
      display:block;
      margin:auto;
      border: none;
    /*  border-bottom:1px solid white; */
  }

  .event-name {
      position: absolute;
      width: 100%;
      height: 10%;
      margin-left: 1%;
      padding-bottom: 5vh;
      top:5%;
      border-bottom: 1px solid white;
      text-align: center;
      font-size: 3vh;
  }

  .description {
      position: absolute;

      left: 5%;
      width: 90%;
      height: 60%;
      text-align: center;
      margin-bottom: 2%;
      margin-top:2%;
      padding-top: 0%;
      padding-left:1%;
      overflow:scroll;
      margin-left: 0%;
      font-size: 2vh;
  }

  .info {
      width: 100%;
      height:7%;
      border-top: 1px solid white;
      text-align: center;
      margin:0px;
      padding:1px;
      display:block;
      top:98%;
  }

  .event-info {
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%;
      height: 45%;
  }

  .poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
		display: none;
	}
  .cross{
    display: block;
  }
}
